input:focus {
    outline:none;
}
input.required:hover{
  display: inline;
}
.text-input{
  padding-top: 10px;
  padding-left: 5px;
 border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-width:3px;
  font-size: 25px;
}
.text-input1{
  padding-top: 10px;
  padding-left: 5px;
  width: 300px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-width:1px;
  font-size: 15px;
}
.text-input2{
  padding-top: 0px;
  padding-left: 10px;
  width: 300px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-width:1px;
  font-size: 15px;
}
.radio-div{
  margin-top: 5px;
  padding-top: 5px;
}
.checkbox-div{
  margin-top: 5px;
  padding-top: 5px;
}
.input-radio{
  padding-top: 5px;
  padding-left: 5px;
  margin-right: 5px;

  width: 200px;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-width:1px;
}
.add-div{
  padding: 10px;
  border:1px solid gray;

}
.add-select{
  margin-top: 5px;
  height: 30px;
  width: 250px;
}
.text-label{
  padding-top: 10px;
  display: block;
}
